body {
    /*height: 100%;*/
    /*background: url(/static/img/stardust.png);*/
    /*background: url(/static/img/bg.gif);*/
    background: url(/static/img/bg.png);
    background-repeat: repeat-x;
}

.span3 {
    display: block;
    height: 3em;
}

.signin-panel {
    background: #ffffff;
    /*background: url(/static/img/stardust_2X.png);*/
    border-radius: 4px 4px 4px 4px;
    box-shadow:0 0 10px 3px #887b7b;
    margin: 8em auto;
    width: 22em;
}

.signin-container {
    margin: 1em;
    padding: 1em;
}

.footer {
    width: 100%;
    margin: 0em;
    bottom: 1em;
    text-align: center;
    font-size: 0.7em;
    /*background-color: #fafafa;*/
    /*border-top:1px solid #d7d7d7;*/
    /*position:absolute;*/
}

.footer .container {
    border-top:1px solid #d7d7d7;
}

.content {
    margin-top: 4em;
}

.light-item{
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.border-rim {
    /*border: 1px solid #ddd;*/
}

