<!doctype html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% block page_tiele %} {{ SITE_NAME }} {% end %}</title>
      <link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css') }}">
      <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
      <script type="text/javascript" src="http://cdn.staticfile.org/twitter-bootstrap/3.2.0/js/bootstrap.js"></script>
      <script type="text/javascript" src="http://cdn.staticfile.org/angular.js/1.3.0-beta.13/angular.min.js"></script>
      <!-- <script type="text/javascript" src="http://cdn.staticfile.org/angular.js/1.3.0-beta.13/angular-route.js"></script> -->
  </head>
  <body>
  {% block body %}
    {% block header%}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ reverse_url('index') }}">{{ SITE_NAME }}</a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            {% if current_user %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-bottom:10px;">
                    <img src="#">&nbsp;&nbsp;{{ current_user.nickname }}&nbsp;
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </li>
            {% else %}
            <li>
              <a href="{{ reverse_url('login') }}">Login</a>
            </li>
            {% end %}
          </ul>
        </div>
      </div>
    </nav>
    {% end %}

    <span style="display:block; height:1em"></span>

    <div class="content">
      <div class="container">
        <div class="row">
        {% block content %}{% end %}
        </div>
      </div>
    </div>

  {% end %}
  <div class="span3"></div>

  <div class="footer">
    <div class="container">
      {% block footer %}
      <span>TinApp&nbsp;|&nbsp;Designed&nbsp;&amp;&nbsp;Supported&nbsp;by&nbsp;<span style="color:#428bca;">@</span><a href="https://lneoe.com/about.html" target="_blank">lneoe</a></span>
      {% end %}
    </div>
  </div>

  </body>
</html>
