{% extends "base.html" %}

{% block content %}
<!-- <div class="col-md-4">
  <div class="jumbotron">
    This is UserInfo
  </div>
</div> -->
<div class="col-md-8">
  <div class="light-item">
    <table class="table table-hover table-striped" style="margin-bottom: 0px;" ng-app="showLightApp" ng-controller="showLightController">
      <thead>
        <tr>
          <th>Title</th>
          <th>Content</th>
          <th>Star</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in items">
          <td><% item.title %></td>
          <td><% item.content|limitTo:40 %></td>
          <td><span class="badge"><% item.star %></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="col-md-4">
  <div class="jumbotron">
    <label>Post New Light</label>
    <form role="form" class="form-horizontal">

      <div  class="form-group">
        <input type="text" class="form-control" placeholder="Title">
      </div>

      <div class="form-group">
        <textarea class="form-control" placeholder="Content"></textarea>
      </div>

      <div class="form-group">
        <button class="btn btn-default">Post</button>
      </div>

    </form>
  </div>
</div>
<script type="text/javascript" src="{{ static_url('js/tin.js') }}"></script>
{% end %}
