{% extends "base.html" %}

{% block body %}
<div class="signin-panel" ng-app="signinApp" ng-controller="tinSigninController">
  <div class="signin-container">
      <form class="form-horizontal" name="signinForm" role="form" method="post" ng-submit="signin(signinForm.$valid)">
        <div class="form-group" ng-class="{'has-success has-feedback' : signinForm.username.$valid, 'has-error has-feedback' : signinForm.username.$invalid && signinForm.username.$dirty}" >
            <label class="control-label sr-only" for="signinInputUsername">Username</label>
            <input type="email" class="form-control" id="signinInputUsername" placeholder="User name or Email" ng-model="user.username" name="username" required>
            <span ng-show="signinForm.username.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
            <span ng-show="signinForm.username.$invalid && signinForm.username.$dirty" class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div class="form-group" ng-class="{'has-success has-feedback' : signinForm.password.$valid, 'has-error has-feedback' : signinForm.password.$invalid && signinForm.password.$dirty}" >
            <label class="control-label sr-only" for="signinInputPassword">Password</label>
            <input type="password" class="form-control" id="signinInputPassword" placeholder="Password" ng-model="user.password" name="password" required>
            <span ng-show="signinForm.password.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
            <span ng-show="signinForm.password.$invalid && signinForm.password.$dirty" class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default" method="POST" ng-disabled="signinForm.$invalid">Sign in</button>
          <span class="label label-warning" role="label" ng-show="errorMsg"><% errorMsg %></span>
        </div>
      </form>
  </div>
</div>
<script type="text/javascript" src="{{ static_url('js/md5-min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/tin.js') }}"></script>
{% end %}
